body {
    background-image: url(../Imagenes/BlackAndBlue.jpg); /* Reemplaza con la ruta de tu imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-attachment: fixed; /* Hace que la imagen de fondo sea estática */
    margin: 0;
    padding: 0;
}

header {
    background: transparent;
    width: 100%;
    position: fixed;
    z-index: 100;
  }
/* Estilos generales para el navbar fijo */
.navbar {
    background-color: transparent;
    width: 90%;
    margin-top: 1%;
    margin-left: 5.5%;
    top: 0;
    left: 5%;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center the navbar contents horizontally */
    align-items: center; /* Center the navbar contents vertically */
    z-index: 1000;
}
/* Contenedor para centrar los elementos en el navbar */
.nav-content {
    background-color: transparent;    
    width: 100%; /* Adjust this to match the .image-container if it has a specific width */
    
    display: flex;
    
    margin-left: 1px;   
    vertical-align: middle;
    justify-content: space-between; /* Center the contents */
}

.image-container {
    background-color: transparent;
    display: flex;
    justify-content: center; /* This will center the images in the container */
    flex-wrap: wrap; /* Allows multiple images to wrap in the container */
    margin: auto; /* This will center the container itself if it's not full width */
  }

/* Estilos para el logo */
.logo img {
    width: 30%;
    background-color: transparent;
    margin-top: 1%;
}

/* Estilos para la lista de navegación y elementos de la lista */
.nav-list {
    text-decoration: none;
    list-style: none;
    display: flex;
    color: white;
    transition: color 0.3s;
    vertical-align: middle;
    font-family: 'Ciutadella';
    font-size: 20px;
}
@font-face {
    font-family: 'Ciutadella';
    font-style: normal;    
    src:
      local("Open Sans"),
      url("/Fuentes/Ciutadella-SemiBold.otf") format("truetype"),
  }

/* Estilos para los enlaces del navbar */
.nav-list a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

/* Cambiar el color del enlace al pasar el mouse por encima */
.nav-list a:hover {
    color: black;
}
.nav-list li {
    margin-right: 20px;
}



/* Estilos para el submenu de "Surf Training" */
.surf-training .submenu {
    display: none;
    position: absolute;
    background-color: rgb(82,179,200);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 1% 7% 7% 7%;
}

.surf-training .submenu li {
    margin-right: 15px; /* Añade padding a la derecha de cada elemento (ajusta según tus preferencias) */
    list-style: none; /* Elimina las viñetas */
}

/* Mostrar el submenu y el símbolo personalizado al pasar el mouse sobre "Surf Training" */
.surf-training:hover .submenu {
    display: block;
}

/* Estilos para el símbolo personalizado */
.custom-symbol {
    font-size: 14px; /* Ajusta el tamaño del símbolo según tus preferencias */
    margin-left: 5px; /* Ajusta el espaciado entre el símbolo y el texto */
}

/* Estilos para los elementos de la lista en el submenu de "Surf Training" */
.surf-training .submenu li {
    padding-right: 15px; /* Añade padding a la derecha de cada elemento (ajusta según tus preferencias) */
    list-style: none; /* Elimina las viñetas */
    /* Establecer imagen de fondo para cada elemento */
    background-image: url('../Imagenes/flecha.png'); /* Ruta de la imagen */
    background-repeat: no-repeat;
    background-position: left center; /* Alinea la imagen a la izquierda y al centro */
    background-size: 30px 25px; /* Tamaño de la imagen (ajusta según tus preferencias) */
    padding-left: 30px; /* Espaciado a la izquierda para acomodar la imagen (ajusta según tus necesidades) */
}






/* Estilos para el contenido principal */
main {

    margin-top: 0; /* Ajusta el margen superior a 0 para que comience desde la parte superior */
}

/* Estilos para el contenedor de la imagen */
.image-container {
    width: 90%;
    margin-top: 1%;
    text-align: center;
    margin-bottom: 2%;
}

/* Estilos para la imagen */
.image-container img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 0.5%;
}

.Video {
    position: relative;
    margin-top: 10%;
    width: 80%;
    margin: auto;
    padding-bottom: 56.25%; /* Esta es la proporción para un video 16:9 */
}

.Video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
}









footer{
    background-color: black; /* Color de fondo del footer */
    margin-top: 2%;
    margin-bottom: 80px;
    padding: 0.5%;
    width: 100%; /* Asegúrate de que ocupe todo el ancho */
}
.footer-content {
    width: 90%; /* Ocupa todo el ancho del footer */
    margin-left: 5%;
    margin-top: 2%;
    display: grid;
    align-items: center;
    margin-bottom: 3%;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
}

.footer-logo{
    display: flex;
    justify-content: center;
}


.footer-contact{
margin-top: 17.5%;

}
.Wine_Bar{
    display: flex;
    justify-content:flex-start;
}

.footer-logo img, .Wine_Bar img {
    width: 40%; /* O un tamaño específico si es necesario */
    height: auto; /* Ajusta esto según el tamaño deseado */
}

/* Estilos para los íconos de redes sociales */
.social-media-icons {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1%;
    gap: 10px;
    margin-left: 10%;
    /*justify-content: center; /* Esto centrará los íconos dentro de su celda */
}

.social-media-icons a img {
    width: auto;
    height: 50px;
}




.boton-Incribirse_Fotter{
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
}
.boton-Incribirse_Fotter img{
    width: 40%;
    margin-bottom: 2%;
}

.boton-Incribirse_Fotter:hover img {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño */
    transition: transform 0.3s ease; /* Efecto suave */
}

.social-media-icons:hover img {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño */
    transition: transform 0.3s ease; /* Efecto suave */
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .social-media-icons a img {
        height: 20px; /* Nueva altura para dispositivos móviles */
    }
    .image-container2 img {        
        border-radius: 10px;
    }
    .image-container img {        
        border-radius: 10px;
    }
    .nav-list {
        font-size: x-small;
    }
    .logo img {
        width: 50px;
        background-color: transparent;
    }
    .boton-Incribirse_Fotter{
        width: 50%;
    }
    .boton-Incribirse_Fotter img{
        width: 30%;
        width: 100%;
    }
}


